@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Source+Code+Pro&display=swap');

.profileName {
    font-family: 'Babylonica', cursive;
    font-family: 'Source Code Pro', monospace;
    margin-top: 30px;
}
